extends layout
block content
  div(class="row")
    div(class="col-md-4 col-md-offset-4")
      h2 Iniciar Sesión
      form(action="/autenticar" method="post")
        div(class="form-group")
          label Usuario
          input(type="text"
          class="form-control"
          name="usuario"
          placeholder="Usuario")
        div(class="form-group")
          label Contraseña
          input(type="password"
          class="form-control"
          name="contrasena"
          placeholder="Contraseña")
        div(class="form-group")
          button(type="submit" class="btn btn-primary btn-md") Ingresar
          a(href="/registrar" class="btn btn-success btn-md col-md-offset-1") Registrarme
