doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav(class="navbar container-fluid navbar-header navbar-fixed-top")
      div(class="container")
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="link")
              a(href="/" class="nav-link") Inicio
          ul(class="nav navbar-nav navbar-right")
            li(class="link")
              a(href="/autenticar") Iniciar Sesion
              
              

    div(class="container")
      block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
