extends layout
block content
  div(class="row")
    div(class="col-md-4 col-md-offset-4")
      h2 Registrarme
      form(method="post" action="/registrar")
        div(class="form-group")
          label Usuario
          input(type="text" class="form-control" name="usuario" placeholder="Usuario")
        div(class="form-group")
          label Contraseña
          input(type="password" class="form-control" name="contrasena" placeholder="Contraseña")
        div(class="form-group")
          button(type="submit" class="btn btn-primary") Registrar
          a(href="/autenticar" class="btn btn-success btn-md col-md-offset-1") Atrás

        
