script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="/javascripts/bootstrap.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/knockout/knockout-latest.js")
