extends layout

block content
  ul(class="nav nav-pills")
    li
      a(class="nav-item active" data-toggle='tab', href='#panel1 ', role='tab')
        |  Mis contactos
    li
      a(class="class=nav-item" data-toggle='tab', href='#panel2', role='tab')
        |  Configuración
    li
      a(class="class=nav-item" data-toggle='tab', href='#panel3', role='tab')
        |  Nuevo Contacto

  div(class="tab-content")
    div(class="tab-pane fade in show active" id="panel1" role="tabpanel")
      div(class="row")
        div(class="page-header")
          h2 Mis contactos
        div(class="form-group has-success col-md-5")
          input(type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar contacto" id="busco")
      div(class="row")      
          table(class="table table-hover")
            thead
              tr
                th Nombre
                th Apellido
                th Dirección
                th Teléfono
                th Correo
                th Categoría
            tbody(data-bind="foreach: contactos")
              tr
                td(data-bind="text: nombre")
                td(data-bind="text: apellido")
                td(data-bind="text: direccion")
                td(data-bind="text: telefono")
                td(data-bind="text: correo")
                td(data-bind="text: categoria")
                td
                  button(class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalEditarContacto"
                        data-bind="click: $root.cargar") Editar
                td 
                  button(class="btn btn-danger btn-sm" data-bind="click: $root.eliminar") Eliminar
                
    
    div(class="tab-pane fade col-md-5" id="panel2" role="tabpanel")
      div(class="row")
        form(class="form-horizontal")
          fieldset
            legend Configurar mi cuenta
          //inicio modal body
          div(class="modal-body")
            div(class="form-group")
                      label Cambiar Usuario
                      input(type="text" class="form-control"
                         name="inputNombre" id="inputNombre"
                         data-bind="value: contactoNuevo.Nombre")
            div(class="form-group")
                      label Cambiar Contraseña
                      input(type="text" class="form-control"
                         name="inputNombre" id="inputNombre"
                         data-bind="value: contactoNuevo.Nombre")

    
    div(class="tab-pane fade col-md-5" id="panel3" role="tabpanel")
      div(class="row")
        form(class="form-horizontal")
          fieldset
            legend Nuevo contacto
          //inicio modal body
          div(class="modal-body")
            div(class="form-group")
                      label Nombre
                      input(type="text" class="form-control"
                         name="inputNombre" id="inputNombre"
                         data-bind="value: contactoNuevo.Nombre")
            div(class="form-group")
                      label Apellido
                      input(type="text" class="form-control"
                         name="inputNombre" id="inputNombre"
                         data-bind="value: contactoNuevo.Nombre")
            div(class="form-group")
                      label Dirección
                      input(type="text" class="form-control"
                         name="inputNombre" id="inputNombre"
                         data-bind="value: contactoNuevo.Nombre")
                  
            div(class="form-group")
                      label Teléfono
                      input(type="text" class="form-control"
                         name="inputNombre" id="inputNombre"
                         data-bind="value: contactoNuevo.Nombre")
                  
            div(class="form-group")
                       label Correo
                       input(type="text" class="form-control"
                          name="inputNombre" id="inputNombre"
                          data-bind="value: contactoNuevo.Nombre")
                            
            div(class="form-group")
                        label Categoria
                        select(class="form-control"
                                data-bind="options: tipoHabitaciones, optionsText: 'Tipo', value: reservacionNueva.TipoHabitacion")
                                  
                                            
                                          
                              
                              
                  
                    
                    
                                   

      
            
    include footer
    script(src="/javascripts/contactoCliente.js")
            
