doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav(class="navbar container-fluid navbar-header navbar-fixed-top")
      div(class="container")
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="/salir") Salir
            
    
    div(class="container")
      block content
    
